/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 1, 2015, 1:43:33 AM
    Author     : TOHIR
*/

.thumbs{
    width: 95px;
}

.loaderBox{padding:100px 0;text-align:center}

.row{ margin-right: 0px;
      margin-left: 0px;
}

.col-md-12 {
    padding-left: 0px;
    padding-right: 0px;
}

.input-medium {
    width: 300px
}

.muted {
    color: #999;
}
.input-mini {
    width: 60px;
}
.input-medium {
    width: 150px;
}
.input-large {
    width: 250px;
}
.input-xlarge {
    width: 300px;
}
